<!--<p>contacto works!</p>-->
<div class="col-6"> 
  <form>
    <br>
    <input type="email" class="form-control" id="exampleFormControlInput1" placeholder="nombre@ejemplo.com">
    <br>
    <input class="form-control form-control-lg" type="text" placeholder="Nombre y Apellido" aria-label=".form-control-lg example">
    <br>
    <input class="form-control form-control-lg" type="text" placeholder="Numero de Telefono" aria-label=".form-control-lg example" />
    <br>
    <div class="mb-3">
      <label for="exampleFormControlTextarea1" class="form-label">Ingrese su queja</label>
      <textarea class="form-control" id="exampleFormControlTextarea1" rows="4"></textarea>
    </div>
    <input type="submit" value="Enviar">
  </form>
</div>