<!--<p>productos works!</p>-->

<br>
<div class="row row-cols-1 row-cols-md-3 g-4">
  <div class="col">
    <div class="card h-100">
      <img src="../../../assets/celu1.jpg" class="card-img-top" alt="...">
      <div class="card-body">
        <h5 class="card-title">.S22 Ultra</h5>
        <p class="card-text">/$300.000</p>
        <p class="card-text">/6.8" AMOLED</p>
        <p class="card-text">/108.0 MP + 10.0 MP + 12.0 MP + 10.0 MP</p>
        <p class="card-text">/128GB ROM</p>
        <p class="card-text">/8GB RAM</p>
        <button type="button" class="btn btn-warning">Comprar</button>
      </div>
    </div>
  </div>
  <div class="col">
    <div class="card h-100">
      <img src="../../../assets/celu2.jfif" class="card-img-top" alt="...">
      <div class="card-body">
        <h5 class="card-title">Iphone 13 Pro Max</h5>
        <p class="card-text">/$700.000</p>
        <p class="card-text">/6.7" Super Retina</p>
        <p class="card-text">/12 MP+12 MP+12 MP+ 12 MP</p>
        <p class="card-text">/1TB ROM</p>
        <p class="card-text">/6GB RAM</p>
        <button type="button" class="btn btn-warning">Comprar</button>
      </div>
    </div>
  </div>
  <div class="col">
    <div class="card h-100">
      <img src="../../../assets/celu3.jpg" class="card-img-top" alt="...">
      <div class="card-body">
        <h5 class="card-title">Moto G200</h5>
        <p class="card-text">/$130.000</p>
        <p class="card-text">/6.8" FHD+</p>
        <p class="card-text">/108 MP+13 MP+2 MP+16 MP</p>
        <p class="card-text">/128GB ROM</p>
        <p class="card-text">/8+4GB RAM</p>
        <button type="button" class="btn btn-warning">Comprar</button>
      </div>
    </div>
  </div>
  <div class="col">
    <div class="card h-100">
      <img src="../../../assets/celu4.jpg" class="card-img-top" alt="...">
      <div class="card-body">
        <h5 class="card-title">Xiaomi 12S Ultra</h5>
        <p class="card-text">/$400.000</p>
        <p class="card-text">/6.73" AMOLED</p>
        <p class="card-text">/50 MP+48 MP+48 MP+20 MP</p>
        <p class="card-text">/512GB ROM</p>
        <p class="card-text">/12GB RAM</p>
        <button type="button" class="btn btn-warning">Comprar</button>
      </div>
    </div>
  </div>
</div>
